<div class="cal-year-box">
  <div ng-repeat="rowOffset in [0, 2, 4, 6, 8, 10] track by rowOffset">
    <div class="row cal-before-eventlist">
      <div
        class="col-md-6 col-xs-12 cal-cell {{ day.cssClass }}"
        ng-repeat="month in vm.view | calendarLimitTo:2:rowOffset track by $index"
        ng-init="monthIndex = vm.view.indexOf(month)"
        ng-class="{pointer: month.events.length > 0, 'cal-day-today': month.isToday}"
        mwl-droppable
        on-drop="vm.handleEventDrop(dropData.event, month.date)">

        <div
          class="text-center"
          data-cal-date
          ng-click="vm.calendarCtrl.dateClicked(month.date)"
          ng-bind="month.label">
        </div>        

        <mwl-calendar
          events="month.events"
          view="::'month'"
          view-date="::month.date"          
          on-event-click="vm.onEventClick"
          on-event-times-changed="vm.onEventTimesChanged"
          on-timespan-click="vm.onTimespanClick"
          on-date-range-select="vm.onDateRangeSelect"
          cell-modifier="vm.cellModifier"
          template-scope="vm.templateScope"
          dont-watch>
        </mwl-calendar>

      </div>
    </div>

  </div>

</div>
