<div
  class="cal-context"
  ng-switch="vm.view"
  ng-if="vm.templatesLoaded">

  <div class="alert alert-danger" ng-switch-default>The value passed to the view attribute of the calendar is not set</div>

  <div class="alert alert-danger" ng-hide="vm.viewDate">The value passed to view-date attribute of the calendar is not set</div>

  <mwl-calendar-year
    events="vm.events"
    view-date="vm.viewDate"
    on-event-click="vm.onEventClick"
    on-event-times-changed="vm.onEventTimesChanged"
    on-timespan-click="vm.onTimespanClick"
    cell-modifier="vm.cellModifier"
    custom-template-urls="vm.customTemplateUrls"
    template-scope="vm.templateScope"
    today="vm.today"
    ng-switch-when="year">
  </mwl-calendar-year>

  <mwl-calendar-month
    events="vm.events"
    view-date="vm.viewDate"
    on-event-click="vm.onEventClick"
    on-event-times-changed="vm.onEventTimesChanged"
    on-timespan-click="vm.onTimespanClick"
    on-date-range-select="vm.onDateRangeSelect"
    cell-modifier="vm.cellModifier"
    custom-template-urls="vm.customTemplateUrls"
    template-scope="vm.templateScope"
    draggable-auto-scroll="vm.draggableAutoScroll"
    today="vm.today"
    ng-switch-when="month">
  </mwl-calendar-month>
</div>
